<template>
  <form class="inputImg block mb-2 text-sm"  method="post" enctype="multipart/form-data" >
    <div class="addImage" v-if="imageUrl">
      <img :src="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <input class="block w-full  text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50
    dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
           type="file" accept="image/*" @change="loadFile">
  </form>
</template>

<script>
export default {
  data() {
    return {
      imageUrl: null
    };
  },
  methods: {
    loadFile(event) {
      const file = event.target.files[0];
      if (file) {
        this.imageUrl = URL.createObjectURL(file);
      }
    }
  }
};
</script>

<style scoped>
.addImage {
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border-radius: 50px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.inputImg {
  width: 450px;
  height: 350px;
}
</style>
