<script setup lang="ts">
useHead({
  title: 'Profile'
})
import { reactive } from 'vue'

// do not use same name with ref
const form = reactive({
  teacherName: '',
  phoneNumber: '',
  address: '',
  email: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})

const onSubmit = () => {
  console.log('submit!')
}
</script>

<template>
  <div>
    <hr class="my-2 border dark:border-gray-700" />
    <template>
      <el-form :model="form" label-width="auto" style="max-width: 600px">
        <el-form-item label="강사명">
          <el-input v-model="form.teacherName" />
        </el-form-item>
        <el-form-item label="전화번호">
          <el-input v-model="form.phoneNumber" />
        </el-form-item>
        <el-form-item label="주소">
          <el-input v-model="form.address" />
        </el-form-item>
        <el-form-item label="이메일">
          <el-input v-model="form.email" />
        </el-form-item>





        <el-form-item>
          <el-button type="primary" @click="onSubmit">Create</el-button>
          <el-button>Cancel</el-button>
        </el-form-item>
      </el-form>
    </template>



  </div>
</template>
