<template>
  <h2 class="text-2xl font-bold">훈련일지 등록</h2>
  <div class="bg-gray-200 w-50 h-1 mt-3 "></div>
  <div class="demo-date-picker">
    <div class="block ">
      <div class="datatable m-2">
        <div>재적</div>
        <div>{{subjectData[form.subjectId].registerHuman}}</div>
      </div>
    </div>

    <div class="block">
      <span class="demonstration">훈련과목</span>
      <div style="" />
      <el-form
        label-width="auto"
        style="max-width: 500px">
          <el-select v-model="form.subjectId" placeholder="과정을 선택해주세요">
            <el-option v-for="subject in subjectData" :key="subject.id" :label="subject.subjectName" :value="subject.id" />
          </el-select>

      </el-form>
    </div>

  </div>

  <div class="bg-gray-200 w-30 h-1 mt-2 "></div>

    <div class="">
      <el-form  v-model="form" :label-width="200">
        <el-form-item label="1교시">
          <el-input id="1" v-model="form.trainingContent1" />
        </el-form-item>
        <el-form-item  label="2교시">
          <el-input id="2" v-model="form.trainingContent2" />
        </el-form-item>
        <el-form-item label="3교시">
          <el-input v-model="form.trainingContent3" />
        </el-form-item>
        <el-form-item label="4교시">
          <el-input v-model="form.trainingContent4" />
        </el-form-item>
        <el-form-item label="5교시">
          <el-input v-model="form.trainingContent5" />
        </el-form-item>
        <el-form-item label="6교시">
          <el-input v-model="form.trainingContent6" />
        </el-form-item>
        <el-form-item label="7교시">
          <el-input v-model="form.trainingContent7" />
        </el-form-item>
        <el-form-item label="8교시">
          <el-input v-model="form.trainingContent8" />
        </el-form-item>
      </el-form>
    </div>

  <div class="bg-gray-200 w-50 h-1 mt-3 m-3"></div>
  <el-form v-model="form"
    :label-width="40">
    <el-form-item label="이론">
      <el-input v-model="form.theory" />
    </el-form-item>
    <el-form-item label="실습" >
      <el-input v-model="form.practice" />
    </el-form-item>


  </el-form>
  <div class="flex justify-center">
    <div class="wholate">
    지각 :
  </div>
  <el-checkbox-group
    v-model="form.absentWho"
  >
    <el-checkbox v-for="student in studentData" :key="student" :label="student.studentName" :value="student.id">
      {{ student.studentName }}
    </el-checkbox>
  </el-checkbox-group>
  </div>
  <div class="flex justify-center">
    <div class="wholate">
      조퇴:
    </div>
    <el-checkbox-group
      v-model="form.lateWho"
    >
      <el-checkbox v-for="student in studentData" :key="student" :label="student.studentName" :value="student.id">
        {{ student.studentName }}
      </el-checkbox>
    </el-checkbox-group>
  </div>
  <div class="flex justify-center">
    <div class="wholate">
      결석 :
    </div>
    <el-checkbox-group
      v-model="form.earlyLeaveWho"
    >
      <el-checkbox v-for="student in studentData" :key="student" :label="student.studentName" :value="student.id">
        {{ student.studentName }}
      </el-checkbox>
    </el-checkbox-group>
  </div>
  <div class="flex justify-center m-5">
  <el-form-item>
    <el-button class="submit" type="primary" @click="setTraining">등록</el-button>
  </el-form-item>
</div>

</template>

<script lang="ts" setup>
// CHECK박스 전체선택 script 부분,,
import { ref, reactive } from 'vue';
import { useStudentStore } from "~/stores/student";
import { storeToRefs } from 'pinia';
import { useSubjectStore } from "~/stores/subject";
import { useTrainingStore } from "~/stores/training";
const trainingStore = useTrainingStore();
const subjectStore = useSubjectStore();
const store = useStudentStore();
const { getList } = store;
const { tableData } = storeToRefs(store);
const { getSubjectList } = subjectStore;
const { subjectData } = storeToRefs(subjectStore);
const cities = ['박하림', '최재오', '박하림', '박진수', '권봉주','이윤진','김기범']
// 여기까지..
const checkAll = ref(false)
const isIndeterminate = ref(true)

// 과정 선택 연동 부분 ...
await getSubjectList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

const convert = () => {
  form.student.slice(0,10);
}

// 훈련생 체크박스 연동 부분
await getList().then(() => {

  console.log("성공")
}).catch(() => {
  console.log("실패")
});


interface studentRequest {
  id : number
  studentName : string
  subjectId: string
  absentWho: string
  lateWho: string
  earlyLeaveWho : string

}


const studentData = tableData as unknown as studentRequest

const form = reactive({

  trainingContent1:'',
  trainingContent2:'',
  trainingContent3:'',
  trainingContent4:'',
  trainingContent5:'',
  trainingContent6:'',
  trainingContent7:'',
  trainingContent8:'',
  student:[],
  subjectId: 0,
  theory: 0,
  practice: 0,
  absentWho:[],
  lateWho:[],
  earlyLeaveWho:[],
  registrationNum : 0,
  etc : '',
  attendanceNum: 0,

})


//const check = () => {
//  console.log(form.student)
//  console.log( form.student.length);
//  console.log( form.student.slice(0,10));
//  console.log(form.student[0]+"@"+form.student[1])
//}


const setTraining = async () => {
  const payload = {
    subjectId: form.subjectId,
    dateTraining: "2024-04-30",
    registrationNum: 14,
    attendanceNum: 14,
    theory: form.theory,
    practice: form.practice,
    absentWho: form.absentWho,
    lateWho: form.lateWho,
    earlyLeaveWho: form.earlyLeaveWho,
    trainingContent: form.trainingContent1+"@"+form.trainingContent2+"@"+form.trainingContent3+"@"+form.trainingContent4+"@"+
      form.trainingContent5+"@"+form.trainingContent6+"@"+form.trainingContent7+"@"+form.trainingContent8,
    etc: "string"
  }
  await trainingStore.setTraining(payload)
  console.log(payload.trainingContent)
  console.log('성공!')
}

</script>
<style scoped>

.demo-date-picker {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.demo-date-picker .block {

  text-align: center;

  flex: 1;
  margin-inline: 100px;

}
.demo-date-picker .block:last-child {
  border-right: none;
}
.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 20px;
  color: grey;
  justify-content: center;
}
.submit{
  width: 100px;
  height: 50px;
}
.wholate{
  font-size: 16px;
  padding: 5px;
  color: dimgrey;
}

</style>
