<template>
  <div>
    <h2 class="text-2xl font-bold">상담 목록</h2>
    <hr class="my-2 border dark:border-gray-700"/>

    <div class="table-temp">
    <TwDatatableClient :data="adviceData"
                       :column="data.column"
    >

      <template #row="{ column, data }">
        <template v-if="column.field === 'studentName'">
          {{ data.studentName }}
        </template>
        <template v-if="column.field === 'adviceTitle'">
          {{ data.adviceTitle }}
        </template>
        <template v-if="column.field === 'dateAdvice'">
          {{ data.dateAdvice }}
        </template>
        <template v-if="column.field === 'action'">
          <TwButton variant="primary" class="border border-gray-900" @click="getDetail(data.id)" >
            상세보기
          </TwButton>
        </template>
      </template>
    </TwDatatableClient>
    </div>
    <hr class="my-2 dark:border-gray-700"/>
    <div class="flex justify-center">
    <el-pagination background layout="prev, pager, next" :total="100" @current-change="handlePageChange"
    /></div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {DatatableColumn,  TwButton, TwDatatableClient, } from "vue3-tailwind";
import {useAdviceStore} from "~/stores/adviceManagement";
import {storeToRefs} from "pinia";



const store = useAdviceStore();
const {adviceData} = storeToRefs(store);
const {getAdviceList} = store; // have all non reactiave stuff here
const {getPaging} = store;


// 페이징 처리
const handlePageChange = (currentPage: number) => {
  const itemsPerPage = 10; // 페이지당 항목 갯수
  getPaging(currentPage, itemsPerPage)
    .then(() => {
      // 성공했을 때 필요한 처리 하기
    })
    .catch(() => {
      // 실패 했을 때 필요한 처리 하기
    });
}



await getAdviceList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});



const data = ref({
  column: [
    {
      label: "이름",
      field: "studentName",
      width: "50px",

    },
    {
      label: "아이디",
      field: "",
      width: "100px",

    },
    {
      label: "상담제목",
      field: "adviceTitle",
      width: "100px",

    },
    {
      label: "날짜",
      field: "dateAdvice",
      width: "100px",

    },
    {
      label: "관리",
      field: "action",
      width: "50px",

    },
  ] as Array<DatatableColumn>,


});



const router = useRouter();
const getDetail = (id:string) => {
  router.push({
    path: `/advice/${id}`,
  });
};
</script>

